.inputSignIn {
  display: flex;
  flex-direction: row;

  padding-left: 1.2em;
  margin-bottom: 20px;

  border-radius: 5px;

  background: rgba(0, 0, 0, 0.2);
}

.inputIcon{
  width: 16px;
  width: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: #555;
}
